h1 {
    font-weight: normal;
    font-size: calc(100vw/12);
    margin: 0;
}

h2 {
    font-size: calc(100vw/20);
    margin: 0.5rem 0;
    font-family: 'Lato', sans-serif;
}

header .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header .text {
        align-items: flex-start;
        text-align: left;
    }
}