.mag-glass {
    transform: rotate(90deg);
}

nav ul {
    min-height: 5vh;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0.25rem;
    padding: 0;
}

nav li {
    padding: .33rem 1rem;
    border-right: 1px solid black;
    font-size: 1rem;
}

nav li:first-of-type {
    border-right: none;
}

nav li:nth-of-type(2) {
    border-left: 1px solid black;
}

.right-nav li {
    border-left: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin: 0.25rem;
}

nav img {
    max-width: 1rem;
    max-height: 1rem;
}