.mag-glass {
    transform: rotate(90deg);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li:first-of-type {
    border-right: none;
}

nav li:nth-of-type(2) {
    border-left: 1px solid black;
}

nav li {
    padding: .33rem 1rem;
    border-right: 1px solid black;
}

nav li:nth-of-type(5) {
    border-left: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

nav img {
    width: 25px;
}